__pycache__/
mictlanx.egg-info/
mictlanx-env/
build/
dist/*
.github/workflows/publish-to-test-pipy-backup.yml
**/*.lock
**.(pn|jp)g
**/plots/
**/*.csv
**/*.pdf
analysis/
# **/*/publish.sh
.coverage
htmlcov/
downloads/
profiler/
site/
scripts/
CLAUDE.md
.claude
.mictlanx
.vscode/
.ruff_cache/
.pytest_cache/